<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price }} </span>
</div>
<!-- <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label>Name</label>
    <input type="text" formControlName="name" />
  </div>
  <div>
    <label>Price</label>
    <input type="text" formControlName="price" />
  </div>

  <button class="button" type="submit">Purchase</button>
</form> -->
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit2(passwordForm)">
  <div>
    <label>Name</label>
    <input type="text" formControlName="password" />
  </div>
  <div>
    <label>Price</label>
    <input type="text" formControlName="confirmPassword" />
  </div>
  <div class="error" *ngIf="passwordError">
    Passsword and ConfirmPassword didn't match.
  </div>

  <button class="button" type="submit" [disabled]="passwordForm.invalid">
    Purchase
  </button>
</form>
